.about-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  max-width: 850px;
  padding: 40px 50px;
  text-align: center;
  line-height: 1.8;
  color: #213547;
}

.about-title {
  margin-bottom: 20px;
  color: #213547;
}

.about-paragraph {
  font-size: 16px;
  text-align: justify;
}

.about-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #213547;
}

.about-sources-list {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.6;
  padding-left: 20px;
}

.about-footer {
  margin-top: 40px;
  font-size: 15px;
  color: #444;
  text-align: justify;
}

.about-links {
  color: #0066cc;
  text-decoration: none;
}

.about-links:hover {
  text-decoration: underline;
}